@page
@model ProyectoG58.App.Presentacion.Pages.Productos.DeleteModel

@{
    int productoId = Model.producto.id;
}

<h2>Edición de los datos del producto @Model.producto.nombre @Model.producto.lote</h2>
<form method="post">
    <input type="hidden" asp-for="producto.id" />    
    
    <div class="form-group">
        <label asp-for="producto.lote"></label>
        <input asp-for="producto.lote" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="producto.lote"></span>
    </div>
    <div class="form-group">
        <label asp-for="producto.nombre"></label>
        <input asp-for="producto.nombre" class="form-control" disabled>
        <span class="text-danger" asp-validation-for="producto.nombre"></span>
    </div>

    <button type="submit" class="btn btn-danger">ELIMINAR</button>    
</form>

<a asp-page="./List" class="btn-default">Regresar a la lista de productos </a>